<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloMetal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3D958DA1F09FD1B007598FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3D958EE1F09FD1C007598FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3D958F91F09FD1C007598FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
